[Desktop Entry]
Name=Clip Keep
Comment=Clipboard history for the COSMIC desktop
Comment[cs]=Historie schránky pro prostředí COSMIC
Comment[de]=Zwischenablageverlauf für den COSMIC-Desktop
Comment[es]=Historial del portapapeles para el escritorio COSMIC
Comment[fr]=Historique du presse-papiers pour le bureau COSMIC
Comment[it]=Cronologia degli appunti per il desktop COSMIC
Comment[nl]=Klembordgeschiedenis voor het COSMIC-bureaublad
Comment[pl]=Historia schowka dla środowiska COSMIC
Comment[pt_BR]=Histórico da área de transferência para o desktop COSMIC
Comment[ru]=История буфера обмена для рабочего стола COSMIC
Comment[uk]=Історія буфера обміну для стільниці COSMIC
Comment[zh_CN]=适用于 COSMIC 桌面的剪贴板历史记录
Type=Application
Exec=cosmic-ext-applet-clip-keep
Icon=io.github.marcelogomes90.cosmic-ext-applet-clip-keep
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Clipboard;History;Copy;Paste;Clip;
Keywords[cs]=COSMIC;Applet;Schránka;Historie;Kopírovat;Vložit;Výstřižek;
Keywords[de]=COSMIC;Applet;Zwischenablage;Verlauf;Kopieren;Einfügen;Ausschnitt;
Keywords[es]=COSMIC;Applet;Portapapeles;Historial;Copiar;Pegar;Recorte;
Keywords[fr]=COSMIC;Applet;Presse-papiers;Historique;Copier;Coller;Extrait;
Keywords[it]=COSMIC;Applet;Appunti;Cronologia;Copiare;Incollare;Ritaglio;
Keywords[nl]=COSMIC;Applet;Klembord;Geschiedenis;Kopiëren;Plakken;Fragment;
Keywords[pl]=COSMIC;Aplet;Schowek;Historia;Kopiuj;Wklej;Fragment;
Keywords[pt_BR]=COSMIC;Miniaplicativo;Área de transferência;Histórico;Copiar;Colar;Recorte;
Keywords[ru]=COSMIC;Апплет;Буфер обмена;История;Копировать;Вставить;Фрагмент;
Keywords[uk]=COSMIC;Аплет;Буфер обміну;Історія;Копіювати;Вставити;Фрагмент;
Keywords[zh_CN]=COSMIC;小程序;剪贴板;历史记录;复制;粘贴;片段;
NoDisplay=true
StartupNotify=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-HostWaylandDisplay=true
X-OverflowPriority=80
X-OverflowMinSize=1
